@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  /* Add clearfix */
  display: block;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.story-content {
  font-size: 40px;
}

/* Clearfix for floating issue */
ul::after {
  content: "";
  display: table;
  clear: both;
}
.bold-text {
  font-weight: bold; 
}
.custom-button {
  padding: 15px 30px; /* Adjust the padding */
  font-size: 20px;    /* Adjust the font size */
}


.custom-navbar {
  width: 10%; /* Make the navbar take the full width */
}

.full-width-img {
    width: 150%;
    height: auto; 
    display: block; 
}
#logo {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
